#navigationBar{
  top:1px;
  height: 45px;
  background-color:rgba(26, 255, 255,0.2);
}


#confirmButton{
  position: absolute!important;
  top: 25%;
  right:45%;
}

.b{
   background-color:rgba(26, 255, 255,0.7)!important;
  font-size: 40px;
  font-family: cursive;
  opacity: 0.3;
   border-radius: 15px;
   font-size: 32px;
}

body{
  background: url("background.jpg");
}

#battleMap{
  position:absolute;
  right:20%;
  top:10%;
}


#state{
 border-radius: 25px;
  opacity: 0.2;
  
   background-color:rgb(26, 255, 255)!important;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

#stateText{
   font-size: 30px;
   font-family: cursive;
   color:black;
}

#gameOverDiv{
  position: absolute;
  top:20%;
  right: 40%;
}

#gameOver{
  font-size: 40px;
  font-color:'white';
}

#infoFiels{
  position:absolute;
  left:7%;
  top:10%;
}

#whary{
  position: absolute;
  top:52%;
  left: 45%;
}

#label{
  padding-left: 40%;
  font-family: cursive;
  font-style: italic;
  opacity: 0.7;
  color: white;
}

.dashBoard{
  padding-left: 10%;
}


.baton{
  color:white;
  opacity: 0.3;
   background-color:rgba(26, 255, 255,0.7);
   border-radius: 15px;
  font-size: 36px;
  font-family: cursive;
}


#captan{
  font-family: cursive;
  font-style: italic;
}


#whay{
  top:50px;
  position: absolute;
  right: 150px;
}

#placementDiv{
  top:120px;
  right:50px;
  position: absolute;
}

#field{
 top:100px;
  position:absolute;
}
